*{
    margin: 0;
    padding: 0;
}

.to-do-container{
    background-color: #ffffff;
    color: black;
}

.to-do-container-heading > h1{
    text-align: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    margin-top: 15px;
}
.to-do-container-month{
    color: #000000;
    margin-top: 10px;
}

.to-do-container-month > div > h2{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: center;
}

.to-do-container-month > div > form{
    margin-left: 130px;
}

.to-do-container-month > div > form > input{
    width: 150px;
    margin-top: 5px;
}

.to-do-container-button > div{
    
    border: #000000 5px;
    margin-top: 25px;
    margin-left: 80px;
}

.to-do-container-box-1{
    margin-top: 10px;
}
