*{
    margin: 0;
    padding: 0;
}

.to-do-container{
    background-color: #ffffff;
    color: black;
}

/** styling for the main heading **/
.to-do-container-heading > h1{
    text-align: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    margin-top: 15px;
}

/** styling for the month section **/
.to-do-container-month{
    color: #000000;
    margin-top: 10px;
}

.to-do-container-month > div > h2{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: center;
}

.to-do-container-month > div > form{
    margin-left: 100px;
}

.to-do-container-month > div > form > input{
    width: 150px;
    margin-top: 5px;
}

/** styling for the nav-buttons **/
.to-do-container-button > div{
    border: #000000 5px;
    margin-top: 25px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.to-do-container-button > div > button{
    background-color: #000000;
    color: #ffffff;
}

/** styling for the first box (todo) **/
.to-do-container-box-1{
    margin-top: 30px;
    margin-bottom: 10px;
}

.to-do-container-box-1 > div > h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-left: 45px;
}

.to-do-container-box-1-b{
    border: #000000 solid;
    width: 300px;
    height: 800px;
    margin-left: 25px;
}

.to-do-container-box-1-b > form{
    display: flex;
    flex-direction: row;
    gap: -25px;
    margin-top: 15px;
}

.to-do-container-box-1-b > form > input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 25px;
    
}

/** increase the size of the check-box **/
.larger{
       width: 20px;
       height: 20px; 
}

/** styling the second box (priorities) **/
.to-do-container-box-2{
    margin-top: 30px;
    display: none;
}

.to-do-container-box-2.active{
    display: block;
}

.to-do-container-box-2 > div > h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-left: 45px;
}

.to-do-container-box-2-c{
    border: #000000 solid;
    width: 300px;
    height: 450px;
    margin-left: 25px;
}

.to-do-container-box-2-c > form{
    display: flex;
    flex-direction: row;
    gap: -25px;
    margin-top: 15px;
}

.to-do-container-box-2-c > form > input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 25px;
    
}

/** styling the third box (notes) **/
.to-do-container-box-3{
    margin-top: 30px;
    display: none;
}
.to-do-container-box-3.active{
    display: block;
}

.to-do-container-box-3 > div > h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-left: 45px;
}

.to-do-container-box-3-b > form > textarea{
    width: 100%;
}

/** styling the fourth box (notes) **/
.to-do-container-box-4{
    margin-top: 30px;
    display: none;
}

.to-do-container-box-4.active{
    display: block;
}

.to-do-container-box-4 > div > h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-left: 45px;
}

.to-do-container-box-4-b > form > textarea{
    width: 100%;
}
